<p style="font-size: 33px; font-weight: 700; margin-bottom: 3rem">컨테이너(Container)</p>

여러 개의 값을 저장할 수 있는 것(~~객체~~)

- 시퀀스(Sequence)형: 순서가 있는(ordered) 데이터
- 비 시퀀스(Non-sequence)형: 순서가 없는(unordered) 데이터

# 시퀀스(sequence)형 컨테이너

`시퀀스`는 데이터가 순서대로 나열된(ordered) 형식을 나타냅니다. 

* **주의! 순서대로 나열된 것이 `정렬되었다(sorted)`라는 뜻은 아니다.**

## 특징
1. 순서를 가질 수 있다.

2. **특정 위치의 데이터를 가리킬 수 있다.**

## 종류
파이썬에서 기본적인 시퀀스 타입은 다음과 같습니다.

* 리스트(list)

* 튜플(tuple)

* 레인지(range)

* *문자형(string)*

* *바이너리(binary)* : 따로 다루지는 않습니다.


## 리스트(`list`)

<center><img src="https://user-images.githubusercontent.com/18046097/61180421-fe90ae80-a650-11e9-8211-d06f87756d05.png", alt="list figure"/></center>

**활용법**
```python
[value1, value2, value3]
```

리스트는 대괄호`[]` 및 `list()` 를 통해 만들 수 있습니다.

값에 대한 접근은 `list[i]`를 통해 합니다.

In [ ]:
# 빈 리스트를 만들어봅시다.

In [ ]:
my_list = []
another_list = list()
print(type(my_list))
print(type(another_list))

In [ ]:
# 원소를 포함한 리스트를 만들어봅시다.

In [ ]:
# 첫번째 값에 접근해봅시다.

## 튜플(`tuple`)

**활용법**
```python
(value1, value2)
```

튜플은 리스트와 유사하지만, `()`로 묶어서 표현합니다.

그리고 tuple은 수정 불가능(불변, immutable)하고, 읽을 수 밖에 없습니다.

직접 사용하기 보다는 파이썬 내부에서 다양한 용도로 활용되고 있습니다.

In [ ]:
# tuple을 만들어봅시다.

In [ ]:
my_tuple = (1, 2)
print(type(my_tuple))

In [ ]:
# 아래와 같이 만들 수 있습니다.

In [ ]:
# 파이썬 내부에서는 다음과 같이 활용됩니다. (변수 및 자료형 예제에서 사용된 코드입니다.)

In [ ]:
# 실제로는 tuple로 처리됩니다.

In [ ]:
# 변수의 값을 swap하는 코드 역시 tuple을 활용하고 있습니다.

In [1]:
x = 1
y = 100
x, y = y, x
print(x, y)

100 1

In [ ]:
# 빈 튜플은 빈 괄호 쌍으로 만들어집니다.

In [4]:
empty = ()
print(type(empty))
print(len(empty))

<class 'tuple'>
0

In [7]:
tuple1 = 'hello'
type(tuple1)

str

In [ ]:
# 하나의 항목으로 구성된 튜플은 값 뒤에 쉼표를 붙여서 만듭니다.

In [8]:
single_tuple = ('hello',)
print(type(single_tuple))
print(len(single_tuple))

<class 'tuple'>
1

## 레인지(`range()`)

`range` 는 숫자의 시퀀스를 나타내기 위해 사용됩니다.

기본형 : `range(n)` 


> 0부터 n-1까지 값을 가짐


범위 지정 : `range(n, m)` 

> n부터 m-1까지 값을 가짐

범위 및 스텝 지정 : `range(n, m, s)`

> n부터 m-1까지 +s만큼 증가한다

In [ ]:
# range를 만들어봅시다.

In [ ]:
range(3)

In [ ]:
# range에 담긴 값을 list로 바꿔서 확인해봅시다.

In [ ]:
# 4 ~ 8까지의 숫자를 담은 range를 만들어봅시다.

In [ ]:
# 0부터 -9까지 담긴 range를 만들어봅시다.

In [9]:
list(range(0, -10))

[]

In [10]:
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [12]:
# 리스트의 원소로 하나의 range를 넣겠다
[range(3)]

[range(0, 3)]

In [14]:
# range(3)을 list에 넣겠다
list(range(3))

[0, 1, 2]


## 1.6 시퀀스에서 활용할 수 있는 연산자/함수 

|operation|설명|
|---------|---|
|x `in` s	|containment test|
|x `not in` s|containment test|
|s1 `+` s2|concatenation|
|s `*` n|n번만큼 반복하여 더하기
|`s[i]`|indexing|
|`s[i:j]`|slicing|
|`s[i:j:k]`|k간격으로 slicing|
|len(s)|길이|
|min(s)|최솟값|
|max(s)|최댓값|
|s.count(x)|x의 개수|

In [ ]:
# containment test를 확인해봅시다.

In [15]:
s = 'string'
print('a' in s)

False

In [16]:
l = [1,2,3,5,1]
print(3 in l)

True

In [ ]:
# concatenation(연결, 연쇄)를 해봅시다.

In [21]:
print('안녕,'+ '하세요')
print((0,1)+(2,3)+(4,5))
print([0,1]+[2,3]+[4, 5])

안녕,하세요
(0, 1, 2, 3, 4, 5)
[0, 1, 2, 3, 4, 5]

In [ ]:
# 숫자 0이 6개 있는 list를 만들어봅시다.

In [25]:
my_list = [0, 0, 0, 0, 0, 0, ]
print(my_list)
print(len(my_list))

[0, 0, 0, 0, 0, 0]
6

In [26]:
[0] * 6

[0, 0, 0, 0, 0, 0]

In [ ]:
# indexing과 slicing을 하기 위해 list하나를 만들어주세요.

In [27]:
location = ['서울', '대전', '구미', '광주']

In [ ]:
# 두번째, 세번째 값만 가져와봅시다.

In [28]:
location[1]

'대전'

In [29]:
location[1:3]

['대전', '구미']

In [ ]:
# 0부터 30까지의 숫자를 3씩 증가시킨 리스트로 만들어봅시다.

In [34]:
sample_list = list(range(0, 31, 3))
print(sample_list)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [35]:
# 0 (첫번째 값), 전체길이 만큰
# 3씩 증가시켜서 slicing
sample_list[0:len(sample_list):3]

[0, 9, 18, 27]

In [36]:
# 만들 때 range!
# 0, 31, 3
list(range(0, 31, 3))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
# 위에서 만든 list의 길이를 확인해봅시다.

In [37]:
len([1,4])

2

In [ ]:
# 위에서 만든 list의 최솟값, 최댓값을 확인해봅시다.

In [38]:
print(max(sample_list))
print(min(sample_list))

30
0

In [ ]:
# list에 담긴 특정한 것의 개수를 확인할 수도 있습니다.

In [39]:
a = [1, 1, 2]
a.count(1)

2

# 2. 비 시퀀스형(Non-sequence) 컨테이너

- 셋(set)

- 딕셔너리(dictionary)

## 2.1 `set`

`set`은 순서가 없는 자료구조입니다.

* `set`은 수학에서의 집합과 동일하게 처리된다. 

* `set`은 중괄호`{}`를 통해 만들며, 순서가 없고 중복된 값이 없다.

* 빈 집합을 만들려면 `set()`을 사용해야 합니다. (`{}`로 사용 불가능.)

### 2.1.1 활용법
```python
{value1, value2, value3}
```

In [ ]:
# set 두개를 만들어서 연산자들을 활용해봅시다.

In [41]:
set_a = {1, 2, 3}
print(set_a)
set_b = {3, 6, 9}
print(set_b)

{1, 2, 3}
{9, 3, 6}

In [42]:
# set은 중복된 값이 있을 수 없습니다.

In [45]:
# 차집합
set_a - set_b

{1, 2}

In [44]:
# 합집합
set_a | set_b

{1, 2, 3, 6, 9}

In [46]:
# 교집합
set_a & set_b

{3}

* `set`을 활용하면 `list`의 중복된 값을 손쉽게 제거할 수 있습니다.

In [ ]:
# set으로 중복된 값을 제거해봅시다.

In [47]:
list_a = [1, 2, 3, 1, 1, 2]

In [ ]:
# 다시 list로 바꿔서 확인해봅시다.
# 순서는 보장되지 않는다!

In [48]:
list(set(list_a))

[1, 2, 3]

## 2.2. `dictionary`

`dictionary`는 `key`와 `value`가 쌍으로 이뤄져있으며, 궁극의 자료구조이다. 


<center><img src="https://user-images.githubusercontent.com/18046097/61180427-1405d880-a651-11e9-94e1-1cc5c2a2ff34.png"></center>

### 2.2.1 활용법

```python
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

* `{}`를 통해 만들며, `dict()`로 만들 수도 있다.
* `key`는 **변경 불가능(immutable)한 데이터**만 가능하다. (immutable : string, integer, float, boolean, tuple, range)
* `value`는 `list`, `dictionary`를 포함한 모든 것이 가능하다.

In [ ]:
# 비어있는 dictionary를 두가지 방법으로 만들어봅시다.

In [49]:
dict_a = {}
print(dict_a)
dict_b = dict()
print(dict_b)

{}
{}

In [ ]:
# dictionary는 중복된 key는 존재할 수가 없습니다.

In [58]:
my_dict = {'김준호':'남', '김준호':'여', '밀크':'여'}
my_dict

{'김준호': '여', '밀크': '여'}

In [ ]:
# 지역번호(서울-02 경기-031)가 담긴 전화번호부를 만들어봅시다.

In [59]:
phone = {'서울':'02', '경기':'031',}
phone

{'서울': '02', '경기': '031'}

In [60]:
phone['서울']

'02'

In [61]:
# 딕셔너리의 .keys() 메소드를 활용하여 key를 확인 해볼 수 있습니다.

In [62]:
phone.keys()

dict_keys(['서울', '경기'])

In [63]:
# 딕셔너리의 .values() 메소드를 활용하여 value를 확인 해볼 수 있습니다.

In [67]:
phone_values = phone.values()
print(phone_values)

dict_values(['02', '031'])

In [65]:
# 딕셔너리의 .items() 메소드를 활용하여 key, value를 확인 해볼 수 있습니다.

In [66]:
#dict_items는 유사 리스트
# 리스트로 변경해서 볼 수 있다
# (key, value)가 튜프로 묶인 원소들로 만들어져 있다!
phone.items()

dict_items([('서울', '02'), ('경기', '031')])

In [68]:
list(phone.items())[0]

('서울', '02')

In [69]:
type(list(phone.items())[0])

tuple

## 2.3 컨테이너형 형변환

파이썬에서 컨테이너는 서로 변환할 수 있습니다.

<img width="708" alt="typecasting" src="https://user-images.githubusercontent.com/18046097/61180466-a6a67780-a651-11e9-8c0a-adb9e1ee04de.png">

In [ ]:
# list를 형 변환 해봅시다

In [71]:
l = [1, 2, 3, 4]
#str(l)
#tuple(l)
#set(l)
# # range(l) # error
# # dict(l)  # error

{1, 2, 3, 4}

In [ ]:
# tuple을 형 변환 해봅시다

In [ ]:
t = (1, 2, 3, 4)
# str(t)
# list(t)
# set(t)
# # range(t)
# # dict(t)

In [ ]:
# range를 형 변환 해봅시다

In [ ]:
r = range(1, 5)
# str(r)
# list(r)
# set(r)
# tuple(r)
# # dict(r)

In [ ]:
# set을 형 변환 해봅시다

In [ ]:
s = {1, 2, 3, 4}
# str(s)
# list(s)
# tuple(s)
# # range(s)
# # dict(s)

In [ ]:
# dictionary를 형 변환 해봅시다

In [74]:
# key만 모아서 변형 
# : 일반적으로 dictionary는 key를 통해 value에 접근한다.
#   key를 알려주면 value에 접근할 수 있음
#   다만, value를 알려주면 그에 맞는 key를 찾을 수는 없다.
d = {'name': 'ssafy', 'year': 2020}
# str(d)
# list(d)
# tuple(d)
# set(d)
# # range(d)

## 2.4 데이터의 분류
> `mutable` vs. `immutable`

데이터는 크게 변경 가능한 것(`mutable`)들과 변경 불가능한 것(`immutable`)으로 나뉘며, python은 각각을 다르게 다룹니다.

### 2.4.1 변경 불가능한(`immutable`) 데이터

* 리터럴(literal)

    - 숫자(Number)
    - 글자(String)
    - 참/거짓(Bool)

* range()

* tuple()

* ~~frozenset()~~

In [75]:
range(1, 46)

range(1, 46)

In [76]:
t = (1,3)
t[0] = 2

TypeError: 'tuple' object does not support item assignment

In [78]:
# mutable한 예시
l = [1, 3]
l[0] = 3
l

[3, 3]

In [79]:
name = '홍길동'
name[0] = '김'

TypeError: 'str' object does not support item assignment

In [ ]:
# immutable 데이터의 복사는 어떻게 이루어질까?
num1 = 20
num2 = num1 
num2 = 10

print(a)
print(b)

In [80]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%2020%0Ab%20%3D%20a%0Ab%20%3D%2010%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

### 2.4.2 변경 가능한(`mutable`) 데이터

- `list`
- `dict`
- `set`

In [82]:
# mutable 데이터의 복사는 어떻게 이루어질까?
num1 = [1, 2, 3, 4]
num2 = num1
num2[0] = 100

print(num1)
print(num2)

[100, 2, 3, 4]
[100, 2, 3, 4]

In [83]:
num1 = [1,2,3,4]
num2 = list(num1) #새롭게 리스트를 생성함
num2[0] = 100

print(num1)
print(num2)

[1, 2, 3, 4]
[100, 2, 3, 4]

In [81]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=num1%20%3D%20%5B1,%202,%203,%204%5D%0Anum2%20%3D%20num1%0Anum2%5B0%5D%20%3D%20100%0A%0Aprint%28num1%29%0Aprint%28num2%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

# 정리
## 컨테이너(Container)
<center><img src="https://user-images.githubusercontent.com/18046097/61180439-44e60d80-a651-11e9-9adc-e60fa57c2165.png", alt="container"/></center>